/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/ThirdDayJavaPractice/nbproject/private/
/ThirdDayJavaPractice/build/
/Java4thDay/nbproject/private/
/Java4thDay/build/
/NextedIfElse/nbproject/private/
/NextedIfElse/build/
/NextedIfElse/dist/
/CharacterClass/nbproject/private/
/CharacterClass/build/
/FactorialNumber/nbproject/private/
/FactorialNumber/build/
/RoomPractice/nbproject/private/
/RoomPractice/build/
/RoomPractice2/nbproject/private/
/RoomPractice2/build/
